@CHARSET "UTF-8";
/* advanced search overlayed */
#afs-overlay, #afs-wrapper {
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:1001 !important;
	display: none; 
}
#afs-overlay {
	z-index:1000 !important;
	background-color:white;
	filter: alpha(opacity=50); /* internet explorer */
	-khtml-opacity: 0.50;      /* khtml, old safari */
	-moz-opacity: 0.50;       /* mozilla, netscape */
	opacity: 0.50;
}

#afs-frame {
	margin: auto auto;
	width: 624px;
	height: 460px;
	border: 1px solid #000;
	background: white;
	border: 1px solid #999;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 3px 3px 6px #999; 
	-webkit-box-shadow: 3px 3px 6px #999;
	box-shadow: 3px 3px 6px #999;
}


#afs-frame .leftBlock {
	position: relative;
	float: left;
	height: 420px;
	width: 199px;
	margin-top: 20px;
	border-right: 1px solid #eaeaea;
}
#afs-frame .rightBlock {
	position: relative;
	float: left;
	height: 420px;
	width: 420px;
}
#afs-frame .footer {
	position: relative;
	clear: both;
	height: 30px;
}




#afs-facetMenu  {
}

#afs-facetMenu li.item {
	border: 1px solid #fff;
	padding: 0 6px 0 18px;
	height: 26px;
}

#afs-facetMenu li.current {
	position: relative;
	background: #e9e9e9 url(img/sprite-horizontal.png) 0 -403px repeat-x;
	height: 26px;
}

/*
#afs-facetMenu li.current:after {
	content: "";
	position: absolute;
	right: -5px;
	top: 3px;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 10px solid #0E8EAB;
	border-bottom: 12px solid transparent;
}
*/

#afs-facetMenu a {
	display: block;
	padding: 4px 0;
	color: #515151;
	font-weight: bold;
	text-decoration: none;
}

#afs-facetMenu li.current a { /*color: #0E8EAB;*/ color: #515151; }


#afs_Scrollbar .viewport {
	position: relative;
	height: 308px;
	overflow: hidden;
}
#afs_Scrollbar .overview {
	list-style: none;
	width: 390px;
	position: absolute;
	left: 0; top: 0;
	padding: 0; margin: 0;
}
#afs_Scrollbar .scrollbar {
	position: relative;
	float: right;
	width: 3px;
	padding: 0 1px;
}
#afs_Scrollbar .track {
	background: #eee;
	height: 100%;
	width: 1px;
	position: relative;
	padding: 0;
}
#afs_Scrollbar .thumb {
	background: #0E8EAB;
	/*border: 1px solid #eee;*/
	height: 20px;
	width: 5px;
	cursor: pointer; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	left: -2px;
	-moz-border-radius: 4px !important;
	-webkit-border-raduis: 4px !important;
	-khtml-border-radius: 4px !important;
	border-radius: 4px !important;
}
#afs_Scrollbar .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


#afs_Scrollbar .viewport {
	position: relative;
	height: 308px;
	overflow: hidden;
}
.locationFacetScrollBar .viewport {
	height: 250px !important;
}

#afs-facetSelector .locationLegend h3 {
	font-weight: bold;
	margin-bottom: 2px;
}

#afs-facetSelector .locationLegend {
	margin: 10px 6px 20px 6px;
}

#afs-facetSelector .locationLegend .wholeRegion {
	width: 180px;
	margin: 0;
}

#afs-facetSelector .locationLegend .notActive {
	pointer-events: none;
	cursor: default;
}

#afs-facetSelector .locationLegend .partialRegion {
	width: 200px;
	margin: 0;
}

#afs_Scrollbar .overview {
	list-style: none;
	width: 400px;
	position: absolute;
	left: 0; top: 0;
	padding: 0; margin: 0;
}
#afs_Scrollbar .scrollbar {
	position: relative;
	float: right;
	width: 3px;
	padding: 0 1px;
}
#afs_Scrollbar .track {
	background: #eee;
	height: 100%;
	width: 1px;
	position: relative;
	padding: 0;
}
#afs_Scrollbar .thumb {
	background: #0E8EAB;
	/*border: 1px solid #eee;*/
	height: 20px;
	width: 5px;
	cursor: pointer; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	left: -2px;
	-moz-border-radius: 4px !important;
	-webkit-border-raduis: 4px !important;
	-khtml-border-radius: 4px !important;
	border-radius: 4px !important;
}
#afs_Scrollbar .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }





#afs-facetSelector {
	position: relative;
	margin: 60px 6px 12px 6px;
}

#afs-facetSelector ul.navigation {
	position: absolute;
	top: -30px;
	left: 0;
}

#afs-facetSelector ul.navigation li { 
	float: left; 
	margin: 0;
	padding-left: 8px;
}
#afs-facetSelector ul.navigation li span.arrow { 
	content: "";
	position: relative;
	width: 0;
	height: 0;
	top: -1px;
	border-top: 4px solid transparent;
	border-left: 6px solid #0E8EAB;
	border-bottom: 4px solid transparent;
	vertical-align: middle;
	display: -moz-inline-box;
	display: inline-block;
	margin-right: 4px;
}
#afs-facetSelector ul.navigation li:first-child span.arrow {
	border: none; 
}

#afs-facetSelector .loading {
	width: 100%;
	height: 200px;
	background: transparent url(img/ajax-loader.gif) center center no-repeat;
}

#afs-facetSelector .option {
	position: relative;
	width: 188px;
	margin: 1px 6px;
	float: left;
}

#afs-facetSelector .hierarchary .option {
	width: 158px;
	margin: 0 12px 0 24px;
}



#afs-facetSelector .option a.checkBox {
	position: absolute;
	top: 0; left: 2px;
	width: 16px; height: 20px;
	background: transparent url(img/checkbox.png) top left no-repeat; 
}
#afs-facetSelector .option a.selected { background-position: bottom left; }
#afs-facetSelector .option a.childrenSelected { background-position: 0 -20px; }

#afs-facetSelector .option span.noItems {
	float: right;
	margin-left: 0px;
	font-size: 11px;
	color: #555;
}

#afs-facetSelector .option span.label {
	display: block;
	margin: 0;
	padding: 2px 3px 2px 20px;
	line-height: 16px;
	text-decoration: none;
}

#afs-facetSelector .option span.label span {
	content:"";
	position: relative;
	width: 0;
	top: -1px;
	height: 0;
	border-top: 4px solid transparent;
	border-left: 6px solid #0E8EAB;
	border-bottom: 4px solid transparent;
	margin-left: 3px;
	vertical-align: middle;
	display: inline-block;
}
/*
#afs-facetSelector .option a:hover {
	background-color: #f5f5f5;
}
*/

#afs-facetSelector .hint {
	margin: 12px 6px 0 6px;
	line-height: 15px;
	padding: 1px 0;
	position: relative;
}
/*
#afs-facetSelector .hint span {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	top: 0; left: 0;
	background: transparent url(img/system_icons.png) 0 -80px no-repeat;
}
*/

#afs-rangeSlider {
	height: 308px;
}

#afs-rangeSlider .rangeInput {
	margin: 0 6px;
}

#afs-rangeSlider .slider {
	margin-top: 6px;
	padding: 3px 6px;
}

#afs-rangeSlider .rangeInfo {
	margin: 0 6px;
	font-size: 10px;
}

#afs-rangeSlider .rangeInput input {
	width: 50px;
}



#afs-footer {
	padding: 0 12px;
}


#afs-button-search {
	padding: 5px 10px;
	margin: 0 0 0 5px;
}
#afs-button-cancel {
	padding: 5px 10px;
	margin: 0 10px;
}

/* advancedSearch within content*/

#advancedSearch {
	background: #4e4e4e;
	padding: 12px 8px;
	color: #fff;
}

#advancedSearch.turism {
	background-image: url(img/bg_advancedSearch_turism.png);
	background-position: top left;
	background-repeat: no-repeat;
	padding-top: 100px;
}


#advancedSearch .coloumn { 
	padding: 0;
	margin: 0 10px;
	width: 199px;
}

#advancedSearch .span-2 { width: 420px; }
#advancedSearch .span-3 { width: 640px; }


#advancedSearch .row {
	padding: 10px 0;
	height: 1%;
}

#advancedSearch .textField {  }
#advancedSearch .medium { width: 290px; }
#advancedSearch .small { width: 130px; }

#advancedSearch .multiSelect {
	margin-top: -24px;
}

#advancedSearch .textField label {
	text-align: right !important;
	display: inline-block;
	width: 134px;
	padding-right: 6px;
	line-height: 19px;
}

#advancedSearch .small label {
	width: 74px;
}

#advancedSearch .textField input {
	margin: 0;
	padding: 0 2px;
	border: 1px solid #abadb3;
	line-height: 19px;
	height: 19px;
}

#advancedSearch span.help {
	display: block;
	font-size: 9px;
	line-height: 12px;
	padding: 3px;
}

#advancedSearch .long input { width: 264px;}
#advancedSearch .medium input { width: 134px;}
#advancedSearch .small input { width: 34px;}

#advancedSearch .long span.help {
	padding-left: 145px;
}

#advancedSearch .checkbox {
	position: relative;
	background: transparent url(img/checkbox.png) top left no-repeat;
	margin: 0 0 2px 10px;
	padding-left: 20px;
	height: 20px;
}
#advancedSearch .checked { background-position: bottom left; }

#advancedSearch .checkbox input {
	visibility: hidden;
	position: absolute;
	top: 0; left: 0;
	margin: 0;
	padding: 0;
}
#advancedSearch .checkbox label {
	line-height: 20px;
}



#advancedSearch .buttons {
	padding: 0 10px;
	margin-top: 10px;
}
#advancedSearch .buttons a { padding: 5px 0; }
#advancedSearch .buttons input {
	padding: 5px 10px;
	margin: 0 0 0 6px;
}

#advancedSearch .error input {
	border: 1px solid red !important;
}

#advancedSearch .errorHolder {
	position: relative;
	display: none;
	width: 16px;
	height: 16px;
	float: right;
	margin-right: -12px;
	background: transparent url(img/system_icons.png) 0 -60px no-repeat;
}

#advancedSearch .error .errorHolder {
	display: block;
}

#advancedSearch .errorMessage {
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
	width: 100px;
	background: white;
	color: black;
	padding: 6px;
	font-size: 10px;
	line-height: 14px;
	z-index: 999;
}




#ui-datepicker-div { z-index: 999 !important}

#destinationSelector { 
	display: inline;
}

#destinationSelector div.loading {
	background: transparent url(img/ajax-loader.gif) center center no-repeat;
}

#destinationSelectorWrapper {
	position: absolute;
	width: 264px;
	height: 300px;
	/*overflow-y: scroll;*/
	z-index: 999999 !important;
	background: #fff;
	color: #444;
	border: 1px solid #aaa;
	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
  	
  	padding: .2em;
  	/*visibility: hidden;
	/*display: none;*/
}

#destinationSelectorWrapper .header {
	padding: 7px 0 4px 0;
	height: 22px;
	text-align: center;
	background: transparent url(img/sprite-horizontal.png) 0 -220px repeat-x;
	color: #333;
	font: bold 14px Arial;
}

#destinationSelectorWrapper .infoBox {
	height: 36px;
	padding: .2em;
	margin: 5px 0 0 2px;
}

#destinationSelectorWrapper .infoBox span {
	display: block;
	font-weight: bold;
}

#destinationSelectorWrapper .frame {
	position: relative;
	width: 261px;
	height: 186px;
	overflow: hidden;
	margin: .2em 0;
}

#destinationSelectorWrapper .slider {
	position: absolute;
	top: 0;
	left: 0;
}

#destinationSelectorWrapper .slide {
	overflow-y: auto;
	width: 262px;
	height: 183px;
	padding: 0;
	float: left;
}

#destinationSelectorWrapper .slide ul li {
	padding: 0 0 0 4px;
}

#destinationSelectorWrapper .slide a.selector {
	display: block;
	padding: 3px 0px 3px 3px;
	width: auto !important;
}

#destinationSelectorWrapper .slide a.selector:hover {
	border: 1px solid #ddd;
	background: transparent url(img/sprite-horizontal.png) 0 -220px repeat-x;
	font-weight: normal;
	color: #212121;
	text-decoration: none;
}

#destinationSelectorWrapper .slide .endPoint {
	padding: 12px 4px;
	font-style: italic;
}

#destinationSelectorWrapper a.back {
	float: left;
}

#destinationSelectorWrapper a.reset {
	margin: 0 5px;
}

#destinationSelectorWrapper .controls {
	position: absolute;
	bottom: 8px; left: 8px;
	width: 251px;
	height: 25px;
}

#destinationSelectorWrapper .ui-state-default {
	border: 1px solid #ededed !important;
	background: transparent url(img/sprite-horizontal.png) 0 -222px repeat-x !important;
	font-weight: normal;
	color: #555;
}

/* Jquery ui slider */
.ui-widget-content { border: 0; }
#afs-frame div.slider { background: transparent url(img/sprite.png?v=1.2) 0px -558px no-repeat !important;margin-left:8px;}
#afs-frame div#reSizeRangeSlider {background: transparent;}
#afs-frame .ui-widget-header { background: #0E8EAB none 0 0 repeat-x !important }
#afs-frame .ui-slider-range { top: 4px !important; height: 2px !important; border-top: 1px solid #444; }

#afs-frame div.slider #afs-rangeSlider,
#afs-frame div.slider #priceRangeSlider,
#afs-frame div.slider #reSizeExtraRangeSlider {
	background: transparent;
	border: 0;
}
