div.adGrid {
	float: left;
	margin: 12px 0 0 5px;
}

	div.adGrid span.flag_newAd {
		position: absolute;
		display: block;
		width: 54px;
		height: 53px;
		z-index: 1;
		top: -5px;
		left: -7px;
	}
	
	div.adGrid span.flag_newAdTpt {
		position: absolute;
		display: block;
		width: 54px;
		height: 53px;
		z-index: 1;
		top: -5px;
		left: -13px;
	}
	
	section#list div.adGrid span.flag_reducePercentage {
		position: absolute;
		top: 164px;
		left: 154px;
		width: 52px;
		height: 52px;
		z-index: 1;
	}
	
	section#list div.adGrid span img.flagPercentsTwo {
		position: relative;
		top: 14px;
		left: 14px;	
	}
	
	section#list div.adGrid span img.flagPercentsOne {
		position: relative;
		top: 16px;
		left: 17px;	
	}

	div.adGridContent {
		width: 200px;
		height: 210px;
		margin: 0 auto;
		position: relative;
		background-repeat: no-repeat;
		border: 1px solid #e3e3e3;
		/*background-size: cover;*/
		background-size: contain;
		background-position: center center;
	}


		div.adGridTopBar {
			min-height: 32px;
			background: #fff;
			opacity: 0.9;
			text-align: right;
			padding: 5px 8px;
			width: 184px;
			margin: 0 auto;
		}

		div.gridFeatured {
			background-color: #E2E1A3 !important;
			/*
			background-image: -ms-linear-gradient(top, #FCFBCC 0%, #E2E1A3 100%) !important;
			background-image: -moz-linear-gradient(top, #FCFBCC 0%, #E2E1A3 100%) !important;
			background-image: -o-linear-gradient(top, #FCFBCC 0%, #E2E1A3 100%) !important;
			background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #FCFBCC), color-stop(1, #E2E1A3)) !important;
			background-image: -webkit-linear-gradient(top, #FCFBCC 0%, #E2E1A3 100%) !important;
			background-image: linear-gradient(bottom, #FCFBCC 0%, #E2E1A3 100%) !important;
			*/
		}
		
		div.gridFeaturedOpened {
			background-image: -ms-linear-gradient(top, #FCFBCC 0%, #fff 100%);
			background-image: -moz-linear-gradient(top, #FCFBCC 0%, #fff 100%);
			background-image: -o-linear-gradient(top, #FCFBCC 0%, #fff 100%);
			background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #FCFBCC), color-stop(1, #fff));
			background-image: -webkit-linear-gradient(top, #FCFBCC 50%, #fff 100%);
			background-image: linear-gradient(bottom, #FCFBCC 0%, #fff 100%);
		}
		
			.adGridTopBar span.oldPrice {
				font-size: 11px;
				font-weight: normal;
				color: #000;
				text-decoration: line-through;
				margin: 0 6px 0 0;
			}
		
			.adGridTopBar div.price span,
			.adGridTopBar span.price {
				font-size: 13px;
				font-weight: bold;
				color: #000;
			}
			
			.adGridTopBar p.exposedContent {
				clear: both;
				height: 18px;
				overflow: hidden;
				width: 170px;
				text-align: right;
				margin-left: 14px;
			}
			
		
		div.frameHolder {
			border-left: 0px solid #fff;
			border-right: 0px solid #fff;
			height: 164px;
		}

		div.frameHolder a { background: white; }
		
			div.frameHolder div.border {
				width: 99%;
				height: 95%;
			/*	margin-top: 5px;*/
				padding-top: 6px;
				border: 1px solid #e3e3e3;
				display: none;
			}

		div.adGridBottomBar {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 20px;
			background: #fff;
		}
		
			div.adGridBottomBar p {
				padding: 2px 0 0 4px;
			}
			
			div.adGridBottomBar span.location {
				padding: 0 0 0 16px;
			}
			
			div.adGridBottomBar span.pureBread {
				padding: 0 0 0 16px;
			}
			div.adGridBottomBar span.notPureBread {
			}
			div.adGridBottomBar span.dateExpires {
				padding: 0 0 0 18px;
			}

		div.gridContent {
			position: absolute;
			top: 210px;
			border: 1px solid #e3e3e3;
			border-top: 0;
			background: #fff;
			padding: 5px 8px;
			z-index: 2002;
			width: 194px;
			/*width: 184px;*/
			left: -1px;
			display: none;
			font-size: 11px;
			
			/* Set background gradient for various browsers */
			/*
			background-image: -ms-linear-gradient(bottom right, #f2f2f2 0%, #fff 40%);
			background-image: -moz-linear-gradient(bottom right, #f2f2f2 0%, #fff 40%);
			background-image: -o-linear-gradient(bottom right, #f2f2f2 0%, #fff 40%);
			background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #f2f2f2), color-stop(1, #fff));
			background-image: -webkit-linear-gradient(bottom right, #f2f2f2 0%, #fff 40%);
			background-image: linear-gradient(to top left, #f2f2f2 0%, #fff 40%);
			*/
		}


			div.gridContent h3 {
				font-weight: normal;
				padding-bottom: 5px;
				border-bottom: 1px solid #e3e3e3;
				width: 192px;
			}
			
			div.gridContent p.content {
				padding: 5px 0 5px 0;
				overflow: hidden;
				word-wrap: break-word;
			}
			
			div.gridContent div.shopLogo img {
				margin: 5px 0 0 0;
				max-width: 50px;
				border: 1px solid #efefef;
				padding: 5px;
			}
			
			div.gridContent div.shopTitle {
				height: 16px;
				overflow: hidden;
				margin-bottom: 5px;
			} 
			
			div.gridContent span.sellUrgently {
				position: relative;
				line-height: 35px;
			}
			
			div.gridContent p.certifiedUser {
				margin: 5px 0 0 0;
				padding-left: 20px;
			}


			div.adGridContent span.Novoletna {
				background-position: 0px -961px;
				padding-left: 15px;	
			}
			
			div.adGridContent a.Novoletna {
				background-position: 0px -959px;
				padding-left: 15px;
				margin: 2px 0 2px 0;
				display: block;
			}
			
			div.adGridContent span.Izbrana {
				background-position: 0px -1004px;
				padding-left: 15px;	
			}
			
			div.adGridContent a.Izbrana {
				background-position: 0px -1001px;
				padding-left: 15px;
				margin: 2px 0 2px 0;
				display: block;
			}



.focusShadowTop { box-shadow:0px 8px 9px 0px #444;}
.focusShadowBottom { box-shadow:0px 6px 9px 0px #444;}
.focusOpacity { opacity: 1; }

.bannerWrapper { clear: both; padding-top: 18px !important; }
.size-11 { font-size: 11px; }


/*
	Grid list
*/

.gridListSection #redbox {
	float: left;
}

.gridListSection .middlePosition #redbox {
	margin: 14px 0 4px 0;
	border-top: 1px solid #e3e3e3;
}

.gridListSection .redboxBottom #redbox {
	float: none;
	border-top: 1px solid #e3e3e3;
	border-bottom: 0;
}

.gridListSection .adSenseTop .bannerAdSense {
	float: left;
	border-top: 1px solid #e3e3e3;
	margin: 12px 0 0 0;
	width: 647px;
}

.gridListSection #toolBox-bottom {
	border-top: 1px solid #ebebeb;
}
